<%- include('includes/header') %>

<div class="container reg-page">
  <% if(locals.errors){ %>
    <% errors.forEach(function(error){ %>
      <div class="alert alert-danger"><%= error.msg %></div>
    <% }) %>
    <% } %>
  <%- messages() %>
  <form method="post" action="/users/register" class="form-signin">
    <h1 class="h3 mb-3 fw-normal text-center">User Registration</h1>
    <div class="form-floating">
      <input type="text" class="form-control" name="name" placeholder="Name" value="<%= (!!locals.name)?name:'' %>" required autofocus>
      <label>Name</label>
    </div>
    <br>
    <div class="form-floating">
      <input type="text" class="form-control" name="email" value="<%= (!!locals.email)?email:'' %>" placeholder="Email" required autofocus>
      <label>Email</label>
    </div>
    <br>
    <div class="form-floating">
      <input type="text" class="form-control" name="username" value="<%= (!!locals.username)?username:'' %>" placeholder="Username" required autofocus>
      <label>Username</label>
    </div>
    <br>
    <div class="form-floating">
      <input type="password" class="form-control" name="password" value="<%= (!!locals.password)?password:'' %>" placeholder="Password" required>
      <label>Password</label>
    </div>
    <br>
    <div class="form-floating">
      <input type="password" class="form-control" name="password2" value="<%= (!!locals.password2)?password2 :'' %>" placeholder="Password Confirm" required>
      <label>Confirm Password</label>
    </div>
    <p>Have Account? <a href="/users/login">Login</a></p>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
</div>

<%- include('includes/footer') %>
